.box, .box2{
    border: 5px rgb(60, 172, 60) solid;
    border-radius: 10px;
    width:80%;
    background-color: rgb(245, 184, 226);
    color: rgb(62, 8, 122);  
    padding: 35px;
    margin: 70px;
    display: flex;
    overflow: hidden;
}
h1{
    color: green;
    text-align: center;
}

.box .data{
    width:85%;
    float: left;
}
.box .image{
    width:15%;
    float:right
}
.box2 .data{
    width:30%;
    float:left
}
.box2 .info{
    width:50%;
    padding-left: 10%;
    float:left;
}

